/* ==========================================
   PAPPRITO HRIS
   ATTENDANCE
========================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma,sans-serif;
}

:root{

--primary:#ffcc00;
--secondary:#ff9800;
--success:#008000;
--danger:#cc0000;
--info:#0066cc;
--warning:#c58a00;

--dark:#1f1f1f;
--dark2:#2b2b2b;

--white:#ffffff;

}

body{

background:var(--dark);

color:var(--white);

padding:10px;

}

#app{

max-width:1400px;

margin:auto;

}
